/*LOGIN PAGE STYLING*/
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #5FE88D;
}

h1 {
    text-align: center;
}

img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
    border: 2px solid whitesmoke;
}

#main-container {
    border: 2px solid whitesmoke;
    background-color: #b44e3e;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.notice {
    position: relative;
    right: 345px;
}

#username-field, #password-field {
    /*padding-left: 100px;*/
    padding-right: 600px; /*150*/
    padding-top: 15px; /*5*/
    padding-bottom: 15px; /*5*/
    border: 2px solid #5FE88D;
    position: relative;
}

#login-button {
    padding-left: 367px;
    padding-right: 367px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5FE88D;
    cursor: pointer;
}

#register-button {
    padding-left: 359px;
    padding-right: 359px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5FE88D;
    cursor: pointer;
}

#remember-me {
    position: relative;
    right: 322px;
}

#login-button:hover, #register-button:hover {
    background-color: white;
}